<!-- Footer -->
<footer class="mt-5 py-10 bg-gray-100">
    <div class="mx-36 px-4">
        <div class="w-full py-3 border-y font-roboto text-sm text-gray-900">
            <button class="flex items-center">
                <span>*Disclaimers</span>
                <span>
                    <img src="/svgs/arrow-down.svg" alt="" class="w-5 h-5 ml-3">
                </span>
            </button>
            <div class="font-roboto text-sm text-gray-900">
                <p class="mt-4">Disclaimer: The dietary and other substances, and/or materials, equipment or devices discussed on this site may not have undergone evaluation and/or testing by the United States Food and Drug Administration or like agency of any other country. Risks that might be determined by such testing are unknown.</p>
                <p class="mt-7">These statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any disease. Information on this site is provided for informational purposes only, it is not meant to substitute medical advice provided by your physician or any other medical professional. You should not use the information contained on this site for diagnosing or treating a health problem, disease, or prescribing any medication. Please read product label before use. Best results are only achieved when combined with diet and exercise program. Results not typical for any or all claims.</p>
            </div>
        </div>
        <div>
            <div class="py-10 flex items-center">
                <span class="cursor-pointer">
                    <img src="/svgs/logo-48-full.svg" alt="" class="w-60 h-11">
                </span>
                <div class="flex justify-around w-1/4 ml-12">
                    <span class="cursor-pointer">
                        <img src="/svgs/twitter.svg" alt="" class="w-8 h-8">
                    </span>
                    <span class="cursor-pointer">
                        <img src="/svgs/fb.svg" alt="" class="w-8 h-8">
                    </span>
                    <span class="cursor-pointer">
                        <img src="/svgs/ytb.svg" alt="" class="w-8 h-8">
                    </span>
                    <span class="cursor-pointer">
                        <img src="/svgs/pinterest.svg" alt="" class="w-8 h-8">
                    </span>
                    <span class="cursor-pointer">
                        <img src="/svgs/instagram.svg" alt="" class="w-8 h-8">
                    </span>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-4">
            <div class="font-roboto">
                <p class="font-bold">About</p>
                <div class="flex flex-col mt-3">
                    <a href="" class="hover:underline">Dr.Berg</a>
                    <a href="" class="hover:underline mt-1">Careers</a>
                </div>
            </div>
            <div class="font-roboto">
                <p class="font-bold">Orders and shipping</p>
                <div class="flex flex-col mt-3">
                    <a href="" class="hover:underline">My account</a>
                    <a href="" class="hover:underline mt-1">Shipping methods</a>
                    <a href="" class="hover:underline mt-1">Refunds</a>
                </div>
            </div>
            <div class="font-roboto">
                <p class="font-bold">Support</p>
                <div class="flex flex-col mt-3">
                    <a href="" class="hover:underline">Hours of operation</a>
                    <a href="" class="hover:underline mt-1">Contact us</a>
                    <a href="" class="hover:underline mt-1">Official resellers</a>
                    <a href="" class="hover:underline mt-1">Official social media</a>
                    <a href="" class="hover:underline mt-1">Wholesale application</a>
                </div>
            </div>
            <div class="font-roboto">
                <p class="font-bold">Legal</p>
                <div class="flex flex-col mt-3">
                    <a href="" class="hover:underline">Terms and conditions</a>
                    <a href="" class="hover:underline mt-1">Privacy policy</a>
                </div>
            </div>
        </div>
        <div class="flex mt-5 mb-8">
            <span class="cursor-pointer">
                <img src="/images/app-store.jpg" alt="" class="w-30 h-10  rounded-lg">
            </span>
            <span class="cursor-pointer">
                <img src="/images/google-play.jpg" alt="" class="w-30 h-10 ml-3 rounded-lg">
            </span>
        </div>
        <p class="font-roboto">Dr. Berg Nutritionals, <b>Address:</b> 4501 Ford Avenue, Alexandria, VA 22302. <b>Phone:</b> 703-354-7336</p>
        <p class="font-roboto mt-2">© Copyright 2023. All rights reserved.</p>
    </div>
</footer>